body {
    font-family: Arial, sans-serif;
}

.tree {
    float: left;
    width: 30%;
}

.details {
    float: left;
    width: 65%;
    margin-left: 5%;
    padding: 10px;
    background-color: #3e3e3e; /* Темный фон для деталей */
    border-radius: 5px;
}

#info {
    color: #ffffff; /* Белый текст для информации */
}

.folder {
    cursor: pointer;
    position: relative;
    padding-left: 20px; /* Отступ для плюса/минуса */
}

.toggle {
    position: absolute;
    left: 0;
    top: 0;
}

.device {
    cursor: pointer;
    padding-left: 20px; /* Отступ для дочерних устройств */
}

ul {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding-left: 20px; /* Отступ для вложенных списков */
}

ul ul {
    display: none; /* Скрываем вложенные списки по умолчанию */
}

.open > ul {
    display: block; /* Показываем вложенные списки, если папка открыта */
}
